 {% extends "auctions/layout.html" %}


{% block body %}

<script>
    
     
    document.addEventListener('DOMContentLoaded',()=>{
       
        document.querySelector('#removeform').onsubmit = ()=>{
             
                alert('Bidding Closed');
                 
        }

    })

</script>



<div style="padding-left: 30px;">
 
     
    <h1>Listing: {{ item }}</h1>
    
    <img src="{{ item.image }}" width="230px" >
    <input type="hidden" id="remove" name="remove" value="{{ item.isactive }}">
    
     
    <h6>{{ item.description }}</h6>
    <h2>${{ item.price }}</h2>

    <div class="row">
        {% if user.is_authenticated %}
            {% if not remove and itemIsActive %}
            
                <form action="{% url 'item' item.id %}" method="POST">

                    {% csrf_token %}

                    <input id="bid" type="number" step="0.5" name="bid" placeholder="Bid" >
                    
                    <button type="submit" class="btn btn-primary">Place Bid</button>
                </form>
            {%elif remove and itemIsActive %}
                <p style="font-size: large;font-style: italic;">if you are satified with the current bid, you can close your item bidding</p> 
            {% else %}
                <h3>BET CLOSED. WINNER: {{highbid.user}}</h3>
                    
            {%endif%} 
            
                
        {% endif %}
    </div> 

    <h5>Details</h5>
    <ul>
        <li>Listed by: {{ item.owner }}</li>
        <li> Category: {{ item.category }}</li>
        <li> Current Bid: {{ highbid.user }} </li>
        
    </ul>

    <div class="row">
        {% if user.is_authenticated %}
            {% if iswatchlist %}
                <form action="{% url 'removeWatchlist' item.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'addWatchlist' item.id  %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add to Watchlist</button>
                </form>
            {% endif%}

            
            {% if remove %}
                <form id="removeform" action="{% url 'removeItem' item.id  %}" method="POST">
                    {% csrf_token %}
                    {%if item.isactive %}
                    <button  type="submit" class="btn btn-danger" style="margin-left: 20px;">Close Bidding</button>
                    {%endif%}
                </form>
        {% endif %}
             
    </div>
    
        
    {% endif %}

</div>

{% endblock %}